---
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'nav'> {
  social: {
    name: string;
    url: string;
    icon: string;
  }[];
}

const { social, class: className, ...props } = Astro.props;
---

<nav {...props} class={`text-3xl ${className}`}>
  <ul class='flex gap-4 items-center justify-center'>
    {
      social.map((item) => (
        <li>
          <a href={item.url} target='_blank' rel='noopener noreferrer'>
            <i class={`${item.icon}`} />
          </a>
        </li>
      ))
    }
  </ul>
</nav>
