---
import lang from '../constants/lang';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={lang.description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'
      rel='stylesheet'
    />
    <script
      src='https://kit.fontawesome.com/2b2e60d41c.js'
      crossorigin='anonymous'></script>

    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  @tailwind base;

  @layer base {
    html,
    body {
      @apply bg-dark text-light font-Poppins;
    }

    * {
      @apply box-border;
    }
  }
</style>
